<form class="expenses-form">
  <fieldset class="expense">
    <label for="date">Date</label>
    <input class="expense__date" type="date" name="date" />
    <label for="description">Description</label>
    <input class="expense__description" type="text" name="description" />
    <label for="clientName">Client Name</label>
    <input class="expense__client-name" type="text" name="clientName" />
    <label for="supplier">Supplier</label>
    <input class="expense__supplier" type="text" name="supplier" />
    <label for="cost">Cost</label>
    <input class="expense__cost-amount" type="text" pattern="^\d+\.\d{2}" name="cost.amount" />
    <select class="expense__cost-type" name="cost.costType">
      <option>Simple</option>
      <option>Mileage</option>
      <option>Vatable</option>
    </select>
  </fieldset>
</form>